@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overscroll-behavior: none; /* отключает bounce/overscroll */
    overflow: hidden; /* убирает скролл */
    touch-action: pan-x pan-y; /* управление жестами */
}

/* Страница 80x80 мм */
@page {
    size: 80mm 80mm;
    margin: 0;
}

@media print {
    body * {
        visibility: hidden; /* скрываем всё */
    }

    #print-area,
    #print-area * {
        visibility: visible; /* показываем только QR-блок */
    }

    #print-area {
        width: 80mm;
        height: 80mm;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        width: 60mm !important;
        height: 60mm !important;
    }
}

/* Скрытый блок на экране */
#print-area {
    display: none;
}
